body {
  margin: 0;
}
canvas {
  cursor: crosshair;
}
#gameControls {
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.65);
  height: 100vh;
	box-shadow: 0 0 5px #d8d8d8;
	overflow-y: auto;
}
#gameControls button {
  display: block;
	border: none;
	border-bottom: 1px solid #f0f0f0;
	width: 100%;
	background-color: #f8f8f8;
	padding: 15px 0;
	cursor: pointer;
}
#gameControls h2 {
	font-family: sans-serif;
}

#gameControls button:hover {
	background-color: #f0f0f0;
}
#gameControls button:active {
	background-color: #ececec;
}
